PORT=4005
NODE_ENV=development

DATABASE_URL_FILE=postgresql://postgres:postgres@localhost:5432/rag_file_db
# Swagger
SWAGGER_ENABLED=true

# Storage
DEFAULT_STORAGE_PROVIDER=LOCAL

# Local Storage
LOCAL_STORAGE_PATH=./storage

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=rag_flow
MINIO_SECRET_KEY=infini_rag_flow
MINIO_BUCKET=rag-files